:root {
  font-family: "Inter", sans-serif;

  /* COLOR VARIABLES */
  --bg-clr: rgb(29, 29, 29);
  --highlight: rgba(255, 255, 255, 0.2);
  --shadow: rgba(0, 0, 0, 0.6);
  --text-clr: white;
  --secondary-clr: rgb(48, 48, 48);
  --third-clr: rgb(39, 39, 39);
  --sharp-high-clr: rgb(83, 83, 83);
  --dark: black;

  /* OTHER VARIABLES */
  --transition: 500ms ease;
}

:root[theme="light"] {
  /* COLOR VARIABLES */
  --bg-clr: rgb(160, 160, 160);
  --text-clr: black;
  --highlight: rgb(255, 255, 255);
  --shadow: rgba(0, 0, 0, 0.6);
  --secondary-clr: rgb(223, 223, 223);
  --third-clr: rgb(214, 214, 214);
  --sharp-high-clr: rgb(255, 255, 255);
  --dark: black;
}

body {
  margin: 0;
  background: var(--bg-clr);
  transition: background var(--transition);
}

.barcode {
  font-family: "Libre Barcode 39 Extended Text";
}

.products_table,
.product_form {
  position: relative;
  background: var(--bg-clr);
  color: var(--text-clr);
  border-radius: 2rem;
  box-shadow: 4px 4px 20px var(--shadow), -4px -4px 20px var(--highlight);
  width: 30%;
  max-width: 500px;
  min-width: 200px;
  margin-inline: auto;
  border-spacing: 0;
  transition: background var(--transition);
}

.products_table::before,
.product_form::before {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  left: -1px;
  top: -1px;
  background: linear-gradient(var(--sharp-high-clr) 0%, var(--bg-clr));
  z-index: -1;
  border-radius: 2rem;
}

.product_form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: var(--text-clr);
  font-weight: bold;
  position: relative;
}

.product_form input,
.product_form select {
  border: none;
  padding: 0.5rem;
  box-shadow: 2px 2px 10px var(--shadow), -2px -2px 10px var(--highlight);
  border-radius: 1000rem;
  background: var(--secondary-clr);
  background: linear-gradient(
    170deg,
    var(--sharp-high-clr) 0%,
    var(--secondary-clr) 100%
  );
  color: var(--text-clr);
  font-weight: bold;
  font-family: Inter, sans-serif;
  position: relative;
}

.product_form label {
  margin-block: 0.5rem;
}

.product_form input {
  margin-block-end: 1rem;
}

.products_table td {
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.products_table th {
  margin: 1.5rem;
  text-align: start;
}

.products_table td,
.products_table th {
  padding: 1.5rem;
  box-shadow: 1px 0 var(--dark), 2px 0 var(--highlight);
}

.products_table td:last-child,
.products_table th:last-child {
  box-shadow: none;
}

thead {
  background: var(--secondary-clr);
  color: var(--text-clr);
}

thead th:first-child {
  border-radius: 2rem 0 0;
}
thead th:last-child {
  border-radius: 0 2rem 0 0;
}

tbody tr:last-child td:first-child {
  border-radius: 0 0 0 2rem;
}

tbody tr:last-child td:last-child {
  border-radius: 0 0 2rem 0;
}

tr:nth-child(even) {
  background-color: var(--third-clr);
}

.products_table td:hover {
  background: rgb(126, 126, 126);
}

.warning {
  color: red;
  font-weight: 900;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5rem;
}

input[type="submit"] {
  font-size: 1rem;
  font-weight: bold;
  margin-block: 1rem;
  background: #62c7a1;
  color: var(--text-clr);
  text-transform: uppercase;
  transition: transform 500ms ease;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  cursor: pointer;
  transform: scale(1.05);
}

#page_header {
  text-align: center;
  color: var(--text-clr);
  margin-block-start: 0;
}

.theme_changer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--text-clr);
}

.theme_toggle {
  border-radius: 50%;
  aspect-ratio: 1;
  border: none;
  box-shadow: 2px 2px 10px var(--shadow), -2px -2px 10px var(--highlight);
  cursor: pointer;
  background: var(--bg-clr);
  background: radial-gradient(at 0% 0%, var(--highlight), var(--bg-clr));
  color: var(--text-clr);
  position: relative;
}

.theme_toggle:hover,
.theme_toggle:focus {
  box-shadow: 2px 2px 10px var(--shadow), -2px -2px 10px var(--highlight);
}

.theme_toggle::before {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  left: -1px;
  top: -1px;
  background: linear-gradient(var(--sharp-high-clr) 0%, var(--bg-clr));
  z-index: -1;

  border-radius: 50%;
}

.promo a {
  color: var(--text-clr);
  text-decoration: none;
}

.promo a:hover,
.promo a:focus {
  color: magenta;
  text-decoration: underline;
}
